body{
    background-color: #4C6085;
}

.meuNome{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.descricao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resido{
    font-style: italic;
}